source [find interface/raspberrypi2-native.cfg]

bcm2835gpio_swd_nums 25 24
#bcm2835gpio_trst_num 7
bcm2835gpio_srst_num 18

transport select swd
 
#set CHIPNAME at91samd21g18
source [find target/stm32f0x.cfg]
 
# did not yet manage to make a working setup using srst
reset_config srst_only
#reset_config  srst_nogate
 
adapter_nsrst_delay 100
adapter_nsrst_assert_width 100

gdb_port 4242

init
targets
reset halt
program YRok_Balance_Firmware.bin 0x08000000 verify
reset
#shutdown
